### Java ###
*.class
*.jar
*.war
*.ear
*.log

# Logs
logs/
*.log
*.out

# Runtime files
hs_err_pid*
replay_pid*

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
gradle-app.setting

### Spring Boot ###
*.db
*.h2.db
*.mv.db
*.trace.db

### Environment variables ###
.env
.env.*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.history/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS-specific ###
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
